/*******BASE RESET*******/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

li {
  list-style-type: none;
}

img {
  height: 3rem;
  width: 3rem;
}

/*******GENERAL*******/
html {
  font-family: 'Patrick Hand', Verdana, cursive;
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 80% 5%;
}

/*******HEADER*******/
.navbar {
  margin-top: 1rem;

  ul {
    display: flex;
    justify-content: flex-end;
  
    .menu-item {
      display: flex;
      font-size: 1.5rem;
      font-weight: bold;
      align-items: center;
      margin: 0 1rem;

      .menu-item-link:hover, .menu-item-link:focus {
        background-color: rgb(163, 222, 254);
        border-radius: 0.5rem;
      }
    }
  }
}

.popup {
  display: none;
}

input[type=checkbox] {
  position: absolute;
  display: none;
}

label { 
 cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.3rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

input[type=checkbox]:checked + label ~ .popup {
  display: block;
  position: absolute;
  right: 1.5rem;
  top: 5rem;
  width: 20rem;
  height: 18rem;
  padding-top: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.25), 0 7px 5px rgba(0, 0, 0, 0.22);
  z-index: 5;

  &::before {    
    position: fixed;
    content: "";
    right: 12rem;
    top: 4.4rem;
    width: 1rem;
    height: 1rem;
    background-color: white;
    transform: rotate(45deg);
    border-top: 2px solid rgba(153, 153, 153, 0.2);
    border-left: 2px solid rgba(153, 153, 153, 0.2);
    z-index: -1;
  }

  .popup-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .popup-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 6rem;
      height: 6rem;
      margin: 0.3rem 0;
      padding: 0.5rem 0;
      font-size: 1.2rem;

      &:hover {
        background-color: rgb(142, 226, 207);
        border-radius: 0.5rem;
      }

      &:focus {
        background-color: rgb(244, 234, 100);
        border-radius: 0.5rem;
      }

      img {
        height: 4rem;
        width: 4rem;
        padding-bottom: 0.5rem;
      }
    }
  }
}

/*******MAIN********/
.content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  opacity: 0.7;

  h1 {
    margin-top: 1rem;
    font-size: 2.5rem;
  }

  .img-main {
    height: 20rem; 
    width: 20rem;
  }
}

/*******FOOTER********/
.footer-container {
  float: right;
  margin-right: 1rem;
}